.button2 {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-family: Book Antiqua;
  font-size: 16px;
  cursor: 16Px;
  cursor: pointer;
  display: inline-block;    
}

.button2:hover {background: #eee;}
.login {color: rgb(107, 107, 107);}

.button3 {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-family: Book Antiqua;
  font-size: 16px;
  cursor: 16Px;
  cursor: pointer;
  display: inline-block;    
}

.button3:hover {background: #eee;}
.login {color: rgb(107, 107, 107);}

.header1 {    
    font-family: Book Antiqua;
    font-size: 16px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(107, 107, 107);
    color: white;
    text-align: left;
  }

.header2 {    
font-family: Book Antiqua;
font-size: 18px;
left: 0;
bottom: 0;
width: 100%;
background-color: rgb(107, 107, 107);
color: white;
text-align: left;
}

.col-sm-8 {
  font-family: Book Antiqua;
  font-size: 18px;
  color: rgb(107, 107, 107);
}






p {    
  font-family: Book Antiqua;
  font-size: 16px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(107, 107, 107);
  color: white;
  text-align: center;
  }
  
ol { 
  font-family: Book Antiqua;
  font-size: 16px;



}

.font1 {
    font-size: 18px;
    font-style: italic;  
    font-family: Book Antiqua;
    color:white; 
}

.font2 {
    font-size: 15px;
    font-style: italic; 
    font-family: Book Antiqua;
    color: white; 
}

hr { 
    display: block;    
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px; 
  } 

  .socialmedia1 {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-family: Book Antiqua;
    font-size: 16px;
    cursor: 16Px;
    cursor: pointer;
    display: inline-block;    
}

.footer1 { 
    font-style: italic; 
    font-family: Book Antiqua;
    font-size: 12px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(107, 107, 107);
    color: white;
    text-align: center;
  }
